@import './utils/variables';

/* Общее - контентные изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общее - списки*/
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Общее - ссылки */
.link {
  text-decoration: none;
  margin: 0px;
}

/* Общее - скрыть объект */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общее - без марджинов */
.nomargin,
.title {
  margin: 0px;
}

/* Общее - заголовки*/
.title {
  font: $font-title;
  color: $text-header;
  letter-spacing: $ls-main;
}

.flexbox {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/* Общее - секции*/
.section {
  text-align: center;
}

/* Общее - основной контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Общие параметры для страниц index и portfolio */
.studio-page,
.portfolio-page {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: $text-main;
  letter-spacing: 0.03em;
}

/* Общее шапка и подвал */
.footer {
  background-color: $color-section;
}

/* Общее - паддинги секций */
.features,
.team,
.clients,
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Паддинг секции "Чем мы занимаемся" */
.activity {
  padding-bottom: 94px;
}

.portfolio {
  border-top: 1px solid $color-line;
}

.background {
  max-width: 1600px;
  margin: 0px auto;
  padding: 200px 0px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/primary.jpg');
}

.topline {
  align-items: center;
  justify-content: space-between;
}

.studio-nav {
  align-items: center;
}

/* Логотип в хедере */
.studio-nav .logo {
  margin-right: 93px;
  padding: 24px 0px 25px;
}

/* Общие параметры для двух списков верхней линии */
.studio-list-page,
.studio-list-contacts {
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* Правые марджины внутри списков из nav и списка контактов */
.studio-list-page > .item:not(:last-child) {
  margin-right: 50px;
}
.studio-list-contacts > .item:not(:last-child) {
  margin-right: 30px;
}

/* Логотип в хедере*/
.logo {
  font-family: Raleway, sans-serif;
  color: $text-header;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Цвет первой части логотипа */
.logo-part-one {
  color: $color-accent;
}
/* Цвет второй части логотипа для футтера */
.logo-part-two {
  color: $color-white;
}

/* Параметры ссылок навигации по сайту */
.studio-list-page .link {
  color: $text-header;
  transition: background-color $time $time-function, color $time $time-function;
}

/* Параметры ссылок для обратной связи */
.studio-list-contacts .link {
  color: $text-main;
  align-items: center;
  transition: background-color $time $time-function, color $time $time-function;
}
/* Паддинги на ссылках для расширения области реагирования на ховер */
.studio-list-page .link,
.studio-list-contacts .link {
  padding: 32px 0px;
}

/*  hover и focus для ссылок навигации по сайту*/
.link.current,
.studio-list-page .link:hover,
.studio-list-page .link:focus,
.studio-list-contacts .link:hover,
.studio-list-contacts .link:focus {
  color: $color-accent;
}

/* Иконки в хедере */
.contact-icon {
  margin-right: 10px;
  fill: $text-main;
  transition: fill $time $time-function;
}
.studio-list-contacts .link:hover .contact-icon,
.studio-list-contacts .link:focus .contact-icon {
  fill: $color-accent;
}

/* ховер для активной ссылки */
.link.current::after {
  position: relative;
  left: 0;
  top: 31px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $color-accent;
}

.primary {
  border-top: 1px solid $color-line;
}

/* Контейнер для заголовка и кноки секции Шапка */
.primary-box {
  display: inline-block;
  width: 696px;
}

/* Параметры заголовка h1 на странице Studio */
.primary .title {
  margin-bottom: 30px;

  font: $font-primary-title;
  color: $color-white;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Параметры кнопки в секции Шапка*/
.primary .button {
  padding: 10px;
  min-width: 200px;
  color: $color-white;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color $time $time-function;
}
.primary .button:hover,
.primary .button:focus {
  background-color: $bgd-hover;
}

/* Секция Особенности */
.features-list {
  justify-content: space-between;
}

/* Карточка Особенности */
.features-card {
  /* width: 270px; */
  width: calc((100% - 30px * 3) / 4);
  text-align: start;
  line-height: 1.71;
}
.features-card > .title {
  margin-bottom: 10px;

  color: $text-header;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-image {
  background-color: $bgd-second;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-radius: 4px;
}
.features-icon {
  width: 70px;
  height: 70px;
}

/* Секция Чем мы занимаемся */
.activity .title {
  margin-bottom: 50px;
}

/* Карточка - наша деятельность */
.activity-card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: calc((100% - 30px * 2) / 3);
}

.activity-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.activity-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 27px 0px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Секция Наша команда */
.team {
  background-color: $bgd-second;
}
.team > .container > .title {
  margin-bottom: 50px;
}

/* Карточка Наша команда */
.team-card {
  flex-direction: column;
  align-items: center;
  width: calc((100% - 30px * 3) / 4);

  background-color: $color-white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-card-image {
  justify-content: center;
}

/*Раздел с текстом под фото в карточке Наша команда  */
.team-card-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card-title > .title {
  margin-bottom: 10px;

  color: $text-header;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/*Текст-доложность в карточке Наша команда */
.team-card-title > .text {
  color: $text-main;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

/* Ссылки на соц.сети в карточках Наша команда */
.social-item:not(:nth-child(4)) {
  margin-right: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.team .social-link {
  background-color: $bgd-icon-footer;
  fill: $color-icon;
  transition: background-color $time $time-function, fill $time $time-function;
}
.team .social-link:hover,
.team .social-link:focus {
  background-color: $color-accent;
  fill: $color-white;
}

/* Секция Постоянные клиенты */
/* Список логотипов-ссылок на сайты клиентов */
.clients-list > .item {
  width: calc((100% - 30px * 5) / 6);
}
.clients-list .item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.client-link {
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid $color-icon;
  border-radius: 4px;
  fill: $color-icon;
  transition: border-color $time $time-function, fill $time $time-function;
}

/* Ховер на логотипы-ссылки на сайты клиентов */
.client-link:hover,
.client-link:focus {
  fill: $color-accent;
  border: 1px solid $color-accent;
}

.clients .title {
  margin-bottom: 50px;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .flexbox {
  align-items: baseline;
}
.footer-contacts {
  margin-right: 70px;
  min-width: 231px;
  text-align: start;
}

/* Адрес: ссылки и текст  */
.address-mail {
  margin-top: 0px;
  margin-bottom: 9px;

  color: $color-white;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.address-email,
.address-tel {
  display: block;

  color: $color-link-address;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.address-email {
  margin-bottom: 9px;
}

/* Логотип в футтере */
.footer .logo {
  display: block;
  margin-bottom: 20px;
}

/* Текст над ссылками на соц.сети в футере */
.footer-social > .text,
.form-footer > .text {
  margin-bottom: 20px;
  text-align: start;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* Ссыли на соц.сети в футере */
.footer .social-link {
  background-color: $bgd-icon-footer;
  fill: $color-white;
  transition: background-color $time $time-function;
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: $color-accent;
}

.form-footer {
  width: 570px;

  margin-left: auto;
  text-align: start;
}
.form-footer-box {
  justify-content: space-between;
}

.form-footer-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.form-footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-footer-button {
  position: relative;
  padding: 10px 28px;
  width: 200px;

  color: $color-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $color-accent;
  border: none;
  border-radius: 4px;
}

.form-footer-button::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-28px, -50%);

  content: '';
  display: block;
  width: 24px;
  height: 24px;

  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

/* Марджины и паддинги для списка фильтров в верхней части секции Портфолио*/
.portfolio-filter {
  display: inline-flex;
  margin-bottom: 34px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 16px;
  cursor: pointer;
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

/* Кнопки-фильтры в портфолио  */
.portfolio-filter .button {
  padding: 6px 22px;

  color: $text-header;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: $bgd-second;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color $time $time-function, color $time $time-function;
}
/* Ховер и фокус для кнопок фильтров портфолио */
.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: $color-white;
  background-color: $color-accent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Правый марджин для сетки многострочного контейнера, исключаем каждый третий */
.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Нижний марджин для сетки многострочного контейнера, исключаем три нижних */
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* Рассчет ширины карточки в портфолио */
.portfolio-card {
  width: calc((100% - 2 * 30px) / 3);
}

/* Тень при ховере на карточках-ссылках портфолио */
.portfolio-link {
  display: block;
  border: 1px solid $color-border;
}

.portfolio-card-image {
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.portfolio-card-overley {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: $color-white;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform $time $time-function;
}

.portfolio-link:hover,
.portfolio-link:focus {
  border: 1px solid $color-border;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-card-overley,
.portfolio-link:focus .portfolio-card-overley {
  transform: translateY(0%);
}

/* Заголовки под карточками в портфолио */
.portfolio-card-title > .title {
  margin-bottom: 4px;

  color: $text-header;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Бордер с трех сторон контейнера с текстом под имиджем карточек портфолио */
.portfolio-card-title {
  padding: 20px 24px;
  text-align: start;
}

/* Текст под карточками портфолио */
.portfolio-card-title > .text {
  color: $text-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow: auto;
  z-index: 1;
  transition: opacity $time $time-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: $color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $time $time-function $time;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill $time $time-function, transform $time $time-function;
}

.modal-button-close:hover {
  fill: $color-accent;
  transform: scale(1.4) rotate(180deg);
}

.modal-icon-close {
  justify-content: center;
  align-items: center;
}

.form-modal {
  display: block;
  text-align: center;
}

.modal .title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-inputs-item {
  margin-bottom: 10px;
}
.form-modal-field {
  position: relative;
  flex-direction: column;
}

.form-inputs-list {
  text-align: start;
  margin-bottom: 20px;
}

.form-modal-icon {
  transition: fill $time $time-function;
}

.form-input {
  padding: 11px 0px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color $time $time-function;
}

.form-input:focus-within {
  border-color: $color-accent;
}

.form-modal-field:focus-within .form-modal-icon {
  fill: $color-accent;
}

.form-modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}
.form-comment {
  resize: none;
  padding: 12px 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color $time $time-function;
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus-within {
  border-color: $color-accent;
}

.modal-checkbox-label {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 5px;
}
.form-link {
  color: $color-accent;
}
.form-submit {
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $color-white;

  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: backrgound-color $time $time-function;
}

.form-submit:hover {
  background-color: $bgd-hover;
}

.form-submit:disabled {
  background-color: $color-icon;
}

.form-modal-icon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-11px);
  margin-left: 12px;
}

.form-modal-checkbox {
  margin-bottom: 30px;
  align-items: center;
}

.modal-checkbox-castom {
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 1px solid $text-header;
  background-color: $color-white;

  transition: background-color $time $time-function;
}

.checkbox:checked + .modal-checkbox-castom {
  background-color: $color-accent;
  border-color: transparent;
  border-radius: 2px;
}
