.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-section;

  & > .flexbox {
    align-items: baseline;
  }
  &-box-contacts {
    margin-right: 70px;
    min-width: 231px;
    text-align: start;
  }

  &-box-form {
    margin-left: auto;
    justify-content: space-between;
  }

  &-label {
    margin-bottom: 20px;
    text-align: start;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
  }
}
