.address {
  @extend %nomargin;
  @include typography(400, 14px, 1.71);

  &-mail {
    @extend %nomargin;
    margin-bottom: 9px;
    color: $text-on-dark;
  }

  &-email,
  &-tel {
    @extend %link;
    display: block;
    color: $color-link-address;
  }
  &-email {
    margin-bottom: 9px;
  }
}
