.form-checkbox {
  @include flexbox(center);
  margin-bottom: 30px;
  @include typography(400, 14px, 1.71);

  &-label {
    margin-right: 5px;
    margin-left: 7px;
    color: $text-main;
  }

  &-link {
    color: $color-accent;
  }

  &-castom {
    width: 18px;
    height: 18px;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: 1px solid $text-header;
    background-color: $text-on-dark;

    transition: background-color $time $time-function;
  }

  &-input:checked + &-castom {
    background-color: $color-accent;
    border-color: transparent;
    border-radius: 2px;
  }
}
