.clients-list > .item {
  width: calc((100% - 30px * 5) / 6);
}
.clients-list .item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.client-link {
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid $color-icon;
  border-radius: 4px;
  fill: $color-icon;
  transition: border-color $time $time-function, fill $time $time-function;
}

/* Ховер на логотипы-ссылки на сайты клиентов */
.client-link:hover,
.client-link:focus {
  fill: $color-accent;
  border: 1px solid $color-accent;
}

.clients .title {
  margin-bottom: 50px;
}
