/* Общие параметры для двух списков верхней линии */

.contacts {
  @extend %list;
  @include flexbox();
  @include typography(500, 14px, 1.14, 0.02em);

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  /* Параметры ссылок для обратной связи */
  &-link {
    @extend %link;
    @include flexbox(center);
    padding: 32px 0px;

    color: $text-main;
    transition: background-color $time $time-function,
      color $time $time-function;
  }

  &-icon {
    margin-right: 10px;
    fill: $text-main;
    transition: fill $time $time-function;
  }

  &-link:hover &-icon,
  &-link:focus &-icon {
    fill: $color-accent;
  }

  /*  hover и focus для ссылок навигации по сайту*/

  &-link:hover,
  &-link:focus {
    color: $color-accent;
  }
}
