.filters {
  @extend %list;
  display: inline-flex;
  margin-bottom: 34px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 16px;
  cursor: pointer;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &-button {
    padding: 6px 22px;

    color: $text-header;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    background-color: $bgd-second;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color $time $time-function,
      color $time $time-function;
  }
  /* Ховер и фокус для кнопок фильтров портфолио */
  &-button:hover,
  &-button:focus {
    color: $color-white;
    background-color: $color-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
