.form-modal {
  display: block;
  text-align: center;

  &-submit {
    @extend %button;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: backrgound-color $time $time-function;
  }

  &-submit:hover {
    background-color: $bgd-hover;
  }

  &-submit:disabled {
    background-color: $color-icon;
  }
}
