.logo {
  @extend %link;
  font-family: Raleway, sans-serif;
  color: $text-header;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &-part-one {
    color: $color-accent;
  }

  &-part-two {
    color: $color-white;
  }

  .navigation & {
    margin-right: 93px;
    padding: 24px 0px 25px;
  }

  .footer & {
    display: block;
    margin-bottom: 20px;
  }
}
