.navigation {
  align-items: center;

  &-list {
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  &-list > .item:not(:last-child) {
    margin-right: 50px;
  }

  &-link {
    padding: 32px 0px;
    color: $text-header;
    transition: background-color $time $time-function,
      color $time $time-function;
  }

  &-link.current::after {
    position: relative;
    left: 0;
    top: 31px;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;
  }

  &-link.current,
  &-link:hover,
  &-link:focus {
    color: $color-accent;
  }
}
