.social-network {
  &-item:not(:nth-child(4)) {
    margin-right: 10px;
  }
  &-icon {
    width: 20px;
    height: 20px;
  }
  &-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .team &-link {
    background-color: $bgd-icon-footer;
    fill: $color-icon;
    transition: background-color $time $time-function, fill $time $time-function;
  }
  .team &-link:hover,
  .team &-link:focus {
    background-color: $color-accent;
    fill: $color-white;
  }

  .footer &-link {
    background-color: $bgd-icon-footer;
    fill: $color-white;
    transition: background-color $time $time-function;
  }
  .footer &-link:hover,
  .footer &-link:focus {
    background-color: $color-accent;
  }
}
