.activity {
  @extend %section;
  padding-top: 0;

  &-list {
    @extend %list;
    @include flexbox($wrap: wrap);
  }

  &-title {
    @extend %nomargin;
    margin-bottom: 50px;
    @include typography-title;
  }

  &-card {
    position: relative;
    @include flexbox(normal, center, wrap, inline-flex);
    width: calc((100% - 30px * 2) / 3);
  }

  &-card:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &-label {
    @extend %nomargin;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 27px 0px;
    width: 370px;
    transform: translateX(-50%);

    @include typography-label;
    color: $text-on-dark;
    text-transform: uppercase;

    background-color: $bgd-label;
  }
}
