%nomargin {
  margin: 0px;
}
%list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

%link {
  text-decoration: none;
  margin: 0px;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
