//Переменные цветов
$text-main: #757575;
$text-header: #212121;

$bgd-second: #f5f4fa;
$bgd-hover: #188ce8;
$bgd-icon-footer: rgba(255, 255, 255, 0.1);

$color-accent: #2196f3;
$color-white: #ffffff;
$color-line: #ececec;
$color-border: #eeeeee;
$color-icon: #afb1b8;
$color-section: #2f303a;
$color-link-address: rgba(255, 255, 255, 0.6);

//Переменные для анимации
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

//Типография
$font-main: Roboto, sans-serif;
$font-second: Raleway, sans-serif;
$font-style: normal;
$font-size-main: 14px;
$font-size-title: 36px;
$font-weight-main: 400;
$font-weight-title: 700;
$line-height-title: 1.16;
$letter-spacing-main: 0.03em;
