//Переменные цветов
$text-main: #757575;
$text-header: #212121;

$bgd-second: #f5f4fa;
$bgd-hover: #188ce8;
$bgd-icon-footer: rgba(255, 255, 255, 0.1);

$color-accent: #2196f3;
$color-white: #ffffff;
$color-line: #ececec;
$color-border: #eeeeee;
$color-icon: #afb1b8;
$color-section: #2f303a;
$color-link-address: rgba(255, 255, 255, 0.6);

//Переменные для анимации
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$font-roboto: Roboto, sans-serif;
$font-raleway: Raleway, sans-serif;
$font-style: normal;
$font-size-main: 14px;
$ls-main: 0.03em;
//font:italic normal bold 150%/18px Tahoma,Verdana;
$font-title: normal 700 36px/1.16 Roboto, sans-serif;
$font-primary-title: normal 900 44px/1.36 Roboto, sans-serif;
//используем максин для шрифтов
